.intro__list {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  list-style: none;
  padding: 0;
  padding-top: 34px;
  margin: 0;
  max-width: 288px;
}

@media (min-width: 768px) {
  .intro__list {
    padding: 33px 0px 0 0;
    max-width: 720px;

  }
}

@media (min-width: 1024px) {
  .intro__list {
    max-width: 690px;
    padding: 33px 0 0;
  }
}
