.intro__list {
  font-family: 'Inter';
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  list-style: none;
  padding: 0px 16px 64px;
  margin: 0 auto;
  max-width: 288px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .intro__list {
    padding: 33px 24px 88px;
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .intro__list {
    padding: 33px 286px 92px 48px;
    max-width: 690px;
  }
}


@media (min-width: 1280px) {
  .intro__list {
    padding: 33px 442px 92px 148px;

  }
}