.lead__title {
  max-width: 288px;
  width: 100%;
  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
  padding-top: 48px;
  font-family: 'Inter';
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 44px;
}

@media (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
  }

}

@media (min-width: 1280px) {
  .lead__title {
    padding-top: 56px;
  }

}