.intro__text {
  max-width: 288px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 0px 16px 34px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .intro__text {
    padding: 0px 24px 0px;
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .intro__text {
    padding: 0px 286px 0px 48px;
    max-width: 690px;
  }
}


@media (min-width: 1280px) {
  .intro__text {
    padding: 0px 442px 0px 148px;
  }
}