.lead__subtitle {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 16px 16px 40px;
    margin: 0 auto;
    max-width: 288px;
}

@media (min-width: 768px) {
    .lead__subtitle {
        max-width: 640px;
        font-size: 30px;
        line-height: 36px;
    }

}