.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(200, 100, 0, .5);
    min-height: 200px;
    position: relative;
    color: white;
    object-fit: contain;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover:hover::before {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .lead__image {
        max-width: 928px;
        min-height: 580px;
        margin: 0 auto;
        display: flex;
    }
}