.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(200, 100, 0, .5);
    min-width: 320px;
    min-height: 200px;
    position: relative;
    color: white;
    object-fit: contain;
    box-sizing: border-box;
    padding-bottom: 66px;
    max-width: 100%;
}

.cover::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover:hover::before {
    opacity: 0.8;
}