.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(200, 100, 0, .5);
    min-height: 200px;
    position: relative;
    color: white;
    object-fit: contain;
    margin: 16px auto 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover:hover::before {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .cover {
        margin: 40px auto 0px;
        min-height: 480px;
    }
}
@media (min-width: 1024px) {
    .cover {
        margin: 92px auto 0px;
        min-height: 640px;
    }
}
@media (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        min-height: 740px;
    }
}