.footer__row {
    padding-bottom: 32px;
    padding: 0px;
    margin: 0;
    list-style-type: none;
}

@media (min-width: 320px) {
    .footer__row {
        padding-right: 18px;
    }

    .footer__row:last-child {
        padding-bottom: 0px;
    }
}

@media (min-width: 768px) {
    .footer__row {
        display: flex;
    }
}