.cover__title {
    font-family: 'Inter', sans-serif;
    max-width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    padding-top: 19px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;

}

@media (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        max-width: 560px;
    }
}
