.intro__title {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  color: #FFFFFF;
  padding-bottom: 40px;
  max-width: 288px;
  margin: 0;
  font-weight: 900;
}

@media (min-width: 768px) {
  .intro__title {
    max-width: 720px;
    font-size: 54px;
    line-height: 58px;
  }
}

@media (min-width: 1024px) {
  .intro__title {
    max-width: 690px;
  }
}


@media (min-width: 1280px) {
  .intro__title {
    width: 984px;
  }
}