.intro__title {
  font-family: 'Inter';
  font-style: Black;
  font-size: 32px;
  line-height: 35px;
  line-height: 90%;
  vertical-align: Top;
  Fill: Solid;
  color: #FFFFFF;
  margin: 0;
  padding: 64px 16px 40px;
}

@media (min-width: 768px) {
  .intro__title {
    padding: 110px 24px 40px;
    min-width: 720px;
    min-height: 58px;
    font-size: 54px;
    line-height: 58px;
  }
}

@media (min-width: 1024px) {
  .intro__title {
    padding: 114px 286px 40px 48px;
    min-width: 690px;
    height: 58px;
  }
}


@media (min-width: 1280px) {
  .intro__title {
    padding: 114px 442px 40px 148px;
    min-width: 690px;
    height: 58px;
  }
}